
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
  --5px: clamp(4px, 1.2vw, 5px);
  --10px: clamp(8px,2.6vw, 10px);
  --15px: clamp(13px, 3.6vw, 15px);
  --20px: clamp(18px, 5vw, 22px);
  --25px: clamp(23px, 6vw, 25px);
  --30px: clamp(28px, 7.6vw, 30px);
  --40px: clamp(38px, 10vw, 40px);
  --50px: clamp(48px, 13vw, 51px);
  --60px: clamp(58px, 15vw, 60px);
  
  --18pxFontSize: clamp(1.063, 4.3vw, 1.125rem);
  --20pxFontSize: clamp(1.188rem, 4.8vw, 1.25rem);
  --dark-grey: rgb(47, 47, 41);
  --paleViolet: #d87093;
  --paleVioletDark: #9C2B51;
  --paleYellow: #EBEBCB;
  --paleRose: #ede1e5;
}

body{
    font-family: "Inria Serif", serif;
    background-color: #FAFFF4;
} 
a{
  text-decoration: none;
}



/*  Stil Index-Seite  */

.wrapper-desktop {
    width: clamp(580px, 54vw, 800px);
    height: fit-content;
    overflow: hidden;
    border-radius: var(--10px);
    }
.desktop-container{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: clamp(100px, 15vw, 150px);
}

.header-desktop{
    position: relative;
    background-color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 30px;
    z-index: 2;
    font-size: 2.2rem;
} 
.content-desktop {
      padding: var(--40px);
      font-size: 1.5rem;
      line-height: 1.5;
      
    } 
.content-desktop p{
  margin-bottom: var(--20px);
}
.overlay-desktop{
      position: absolute;
      inset: 0;
      pointer-events: none; /* wichtig: Maus geht durch */
      background: radial-gradient(
        circle 80px at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 40%,
       /* rgba(0,0,0,0.9) 100% */
       rgb(33, 84, 67, 1) 100%
      );
      transition: background 0.2s ease;
      
}
.wrapper-mobile{
  padding: var(--20px);
  background: url(images/background-green-tablet-three.png);
  background-size: cover;
  background-position: center bottom;
  
}

.header-mobile{
  height: clamp(150px, 30vw, 160px);
  background-color: #FAFFF4;
  padding: var(--20px);
  color: #404644;
}

.main-mobile{
  height: clamp(370px, 95vw, 390px);
  background-color: #215543;
  padding: var(--30px) var(--50px);
  border-radius: var(--10px);
  color: #FAFFF4;
}
.main-mobile h2, h3, h4{
  margin-bottom: var(--20px);
  letter-spacing: 5px;
}
.main-mobile h5{
    margin-top: var(--60px);
    font-size: clamp(2.3rem, 10vw, 2.5rem);
}

.start-btn{
  position: relative;
  display: block;
  margin: 30px auto;
  max-width: 80%;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #FBFB86, #69D7D5, #E63493);
  padding: 20px;
  color: #FAFFF4;
  font-family: "Inria Sans", sans-serif;
  font-size: 26px;
  letter-spacing: 20px;
  font-weight: 900;
  z-index: 2;
  text-shadow: 0 0 10px rgb(63, 63, 65);
  box-shadow: 0 0 10px rgb(63, 63, 65);
}

.deko-div-mobile{
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url(images/deko-mobile-two.png);
  background-size: cover;
  z-index: 1;
  top: -300px;
  opacity: 0.9;
}
.desktop-btn{
    display: none;
  }

/* Stile List-Seite */
body{
  background-color: #fafcf8;
}
#list-container{
  
  width: fit-content;
  background-color: #fafcf8;
  margin: 0 auto;
}
#list-wrapper{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  
}
.list-header{
  max-width: 90%;
  margin: var(--30px) auto var(--10px);
  text-align: center;
  letter-spacing: 0.1rem;
  padding: var(--10px) var(--20px);
  background: #6cdaa3;
  border-bottom-left-radius: var(--20px);
  border-bottom-right-radius: var(--20px);
}
.list-header h1{
  font-size: 30px;
  
}

.list-example-folder > h2{
  padding: var(--10px) 0 var(--20px) var(--20px);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: var(--dark-grey);
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
}

.list-example-folder-content{
  max-width: 70%;
  padding: var(--20px);
  margin: 0 var(--20px);
  font-family: "Delius Swash Caps", cursive;
  box-shadow: 0 0 var(--15px) #ede1e5;
  border-radius: var(--20px);
}
.list-example-folder-content p{
  margin-bottom: var(--10px);
}
.list-example-folder-content p:nth-child(4){
  margin-bottom: var(--20px);
}
.list-example-folder-content h3{
  font-size: var(--18pxFontSize);
  
}
.list-example-folder-content h4{
  margin: 0 var(--10px) var(--10px) 0;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
}
.number-style{
  background-color: rgb(234, 232, 232);
  border: solid 1px gray;
  padding: 0 0.2rem;
  border-radius: 1px;
}


.add-folder-btn, .task-only-btn{
    box-sizing: border-box;
    margin: var(--30px) var(--20px);
    display: inline-block;
    background-color: #286250;
    color: white;
    font-size: var(--18pxFontSize);
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: var(--10px) var(--30px);
    border: none;
    border-radius: var(--15px);
    cursor: pointer;
    
}
#add-task-only-btn.task-only-btn{
  margin: 0 var(--20px);
  color: #2a6c55;
  background-color: white;
  box-shadow: 0 0 var(--5px) #2a6c55;
}
.task-only-btn .hide{
  display: none;
}

#list-wrapper{
    gap: var(--20px);
}

.folder-div{
    border: solid 2px lightgreen;
    padding: var(--10px);
}
.folders-statistik{
    display: flex;
    align-items: center;
    gap: 7px;
}
.statistik-num{
    width: var(--30px);
    height: var(--30px);
    border: solid 2px gray;
}

#working-folders-container{
    height: fit-content;
    padding: 0 var(--20px);
}

#rendering-folder-div{
  margin:  var(--15px) auto 0;
  padding: var(--15px);
  color: var(--dark-grey);
  border-radius: var(--5px);
  background-color: #e9f4ef;
  background: url(images/deko-mobile-two.png);
  height: 200px;
  background-repeat: no-repeat;
  background-position: left;
  
}
#folders-name-label{
  display: inline-block;
  font-size: var(--20pxFontSize);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: var(--10px);
  margin-right: var(--10px);
}
#folders-name{
  max-width: 80%;
  border: solid 1px green;
  border-radius: var(--5px);
  font-size: var(--20pxFontSize);
  height: fit-content;
  margin-bottom: 15px;
}
#create-folder-btn, #close-add-folder{
  margin-bottom: var(--15px);
  margin-right: var(--15px);
  letter-spacing: 0.1rem;
  color: rgb(48, 47, 47);
  font-weight: 600;
  display: inline-block;
  border: none;
  border-radius: var(--5px);
  padding: var(--10px) var(--20px);
  
}
#create-folder-btn{
  background-color: #d6ebe3;
  background-color: #98C6E9;
}
#close-add-folder{
  max-width: fit-content;
  background-color: white;
  border: solid 1px #98C6E9;
}

/*Only Task Container*/

#only-task-header h3, h4{
  letter-spacing: normal;
  margin-bottom: var(--10px);
}

#only-task-header {
  margin-top: var(--10px);
  margin-bottom: var(--20px);
  background-color: var(--paleVioletDark);
  color: white;
  padding: var(--15px);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: var(--5px);
}
#only-task-input-div{
  display: flex;
  align-items: center;
  gap: 10px;
}
#push-only-task-btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-weight: 800;
  height: var(--25px);
  width: var(--25px);
}
#only-task-header label, #input-only-task-name{
  font-size: var(--20pxFontSize);
}
#input-only-task-name{
  max-width: 70%;
}
#only-task-list{
  position: relative;
  background-color: white;
  padding: var(--10px);
  margin-bottom: var(--20px);
}
#only-task-list li{
  list-style: none;
  background-color: white;
  padding: var(--5px) var(--10px);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: var(--18pxFontSize);
}
.li-task-name-h4{
  margin-bottom: 0;
}

.li-btn-div{
  padding-right: var(--5px);
  margin-left: var(--15px);
  display: flex;
  gap: var(--10px);
  justify-content: center;
  align-items: center;
}
.li-add-badge-btn, .li-completed-btn{
  display: inline-block;
  height: var(--20px);
  cursor: pointer;
  background-color: white;
  border: solid 1px var(--paleVioletDark);
  padding: 0 var(--5px);
  border-radius: 2px;
}
.li-completed-btn{
  color: white;
  background-color: var(--paleVioletDark);
}
#only-task-completed-list{
  background-color: white;
  padding: var(--10px);
  border-radius: var(--5px);
  border: solid 2px #76B998;
}
#only-task-completed-list li{
  list-style: none;
  margin-bottom: var(--5px);
}
#only-task-work-div{
  background-color: #ede1e5;
  padding: var(--20px);
  border-radius: var(--5px);
  
}
.badge-div-only-task{
  position: absolute;
  right: 0px;
  background-color: white;
  border: solid 3px #68697C;
  padding: var(--10px);
  display: flex;
  flex-direction: column;
  gap: var(--10px);
  border-radius: var(--5px);
  z-index: 999;
}

.badge-urgent, .badge-optional, .badge-datum{
  display: inline-block;
  border-radius: var(--10px);
  padding: var(--5px);
  border: none;
  font-weight: 500;
}
.badge-urgent{
  background-color: #f7f79e;
}
.badge-optional{
  background-color: #a9dac1;
}
.badge-datum{
  background-color: #68697C;
  color: white;
}
.chosen-badges-div-only-task{
  display: flex;
  align-items: center;
  gap: var(--10px);
  flex-wrap: wrap;
  padding: var(--5px);
}
.badge-container{
  
  display: flex;
  gap: var(--5px);
}
.chosen-badge-span{
  box-shadow: 0 0 10px grey;
  font-size: var(--18pxFontSize);
}
/*
.badges-only-task{
  padding: 0 var(--5px);
  background-color: white;
  border: solid 3px #FBFB86;
}*/

/*Datum Badge */
.datum-form{
  border: solid 2px #215543;
  padding: var(--10px);
  border-radius: var(--5px);
  display: flex;
  gap: var(--10px);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #2a6c55;
}
.datum-label, .datum-input{
  color: #222524;
  font-weight: 600;
}
.datum-submit-btn{
  background-color: #215543;
  color: white;
  padding: var(--5px);
  border: none;
  border-radius: var(--5px);
}
.users-datum-el{
  display: flex;
  gap: var(--10px);
  align-items: center;
}
.chosen-user-datum, .datum-left-show{
  font-size: 18px;
  padding: var(--5px);
  letter-spacing: normal;
  margin: 0;
  padding: var(--10px);
  color:var(--dark-grey);
  border-radius: var(--5px);
}
.chosen-user-datum{
  border: solid 2px #e2e2e2;
}
.datum-left-show{
 background-color: #e2e2e2;
}

#only-task-stata-div{
  margin-top: var(--20px);
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-grey);
}

.task-container{
    height: 250px;
    width: 250px;
    background-color: pink;
}
.task-done{
    color: orange;
}
.completed-task-ul{
    border: solid 3px red;
}
.block{
    display: block;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.close-btn-x{
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  transform: rotate(45deg);
  border: none;
  background-color: white;
  color: grey;
  border-radius: 100%;
  cursor: pointer;
  margin-left: auto;
  box-shadow: 0 0 10px lightgrey;
}


/*Work with FOLDERS */
#folders-container{
  padding: var(--10px);
}
.folder-wrapper{
  
}
.display-folder-el{
  margin: 0 auto var(--15px);
  padding: var(--15px);
  background-color: #a9dac1;
  border-radius: var(--5px);
}
.display-folder-el h2{
  margin-bottom: var(--20px);
  text-align: center;
  text-shadow: 0 0 var(--15px) #d6ebe3;
  background-color: #d6ebe3;
  padding: var(--5px);
  border-radius: var(--5px);
}
.display-folder-btn-div{
  
  margin-bottom: var(--15px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--10px);
}
.display-folder-btn-div .close-btn-x{
  margin: 0;
}
.display-folder-btn-div .folder-btn{
  display: inline-block;
  border: none;
  padding: var(--5px) var(--15px);
  border-radius: var(--10px);
  letter-spacing: 0.1rem;
  box-shadow: 0 0 var(--5px) #2a6c55;
  cursor: pointer;
}
.display-task-board-el{
  border-bottom: solid 5px #d6ebe3;
  margin-bottom: var(--20px);
}
.task-board-btn-div, .task-input-board-div{
  padding: var(--15px);
  display: flex;
  gap: var(--20px);
  align-items: center;
}
/* 12.12 entfernen - testen 
.task-board-btn-div button{
  display: inline-block;
  padding: var(--10px) var(--15px);
  border-radius: var(--10px);
  letter-spacing: 0.1rem;
  font-weight: 700;
  border: none;
  box-shadow: 0 0 var(--10px) lightgrey;
  cursor: pointer;
}
  */
.task-input-board-div{
  padding: var(--20px);
  margin: var(--10px) 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--5px);
  background-color: #e9f4ef;
}
.folder-header-task-board{
  font-size: 1rem;
  width: 100%;
  font-weight: 400;
}
.task-input-board-div button{
  height: var(--30px);
  width: var(--30px);
  border-radius: 100%;
  font-size: var(--20pxFontSize);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 var(--10px) gray;
  cursor: pointer;
}
.input-task{
  margin-top: var(--5px);
  padding: var(--5px);
}
.label-task-input{
  font-size: var(--20pxFontSize);
}
.ul-new-tasks-div {
  list-style: none;
  padding: var(--15px);
  
}
.li-new-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: var(--10px);
  flex-wrap: wrap;
}
.button-new-task-div{
  display: flex;
  gap: var(--15px);
  align-items: center;
  justify-content: space-between;
}
.button-completed-task{
  display: inline-block;
  height: var(--30px);
  cursor: pointer;
  background-color: #f489ad;
  border: none;
  padding: 0 var(--10px);
  border-radius: var(--5px);
  box-shadow: 0 0 var(--5px) whitesmoke;
}
.add-badge-btn{
  padding: var(--5px) var(--15px);
  border: solid 2px #6cdaa3;
  border-radius: var(--10px);
  cursor: pointer;
  background-color: white;
}
.badge-div{
  width: 100%;
  border: solid 5px olive;
  position: relative;
  
}

/*active classes */

.margin-top-bottom-reduce{
  margin-top: var(--5px);
  margin-bottom: 0;
}

/*Media Query*/

/*Mobile */

@media only screen and (max-width: 600px) {
  .wrapper-desktop{
    display: none;
  }
 
} 

/*Tablet */

@media only screen and (min-width: 601px) {
  #list-container{
    padding: var(--20px);
  }
  .list-header h1{
    font-size: 1.75rem;
  }
  .wrapper-desktop{
    display: none;
  }
  .wrapper-mobile{
    padding: var(--50px);
    background-position: left bottom;
  }
  .main-mobile{
    max-width: 80%;
  }
  .header-mobile{
    max-width: 80%;
    margin-bottom: var(--30px);
    padding: var(--40px);
  }
  .start-btn{
    max-width: 80%;
    margin: var(--50px) 0;
  }
  .deko-div-mobile{
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  #folders-container{
    padding: var(--20px);
  }
}

/*Desktop*/

@media only screen and (min-width: 1024px) {
  body {
    background-color: #FAFFF4;
  }
  .wrapper-mobile{
    display: none;
  }
  .index-wrapper{
    background: url("images/background-green-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vw;
  }
  .wrapper-desktop, .desktop-btn{
    display: block;
    position: relative;
  }
  .desktop-btn{
    height: clamp(580px, 62vw, 650px);
    max-width: clamp(110px, 13vw, 130px);
    background: linear-gradient(to bottom,  #FBFB86, #69D7D5, #E63493);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .start-btn-desktop-text {
    display: inline-block;
    font-size: clamp(3rem, 5.8vw, 3.75rem);
    transform: rotate(90deg);
  }
  .folder-wrapper{
    display: flex;
    gap: var(--15px);
  }
  .display-folder-el{
    margin: 0 0 var(--20px);
    height: fit-content;
    
  }
  .task-input-board-div{
    margin-top: 0;
  }
}


