
*{
    box-sizing: border-box;
}

/*
body{
    background-color: #FAFFF4;
    background: url("images/background-green.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-size: 120%;
}


@media (max-width: 1024px) {
  body {
    background-size: 150%; 
    background-position: top center;
  }
}

@media (max-width: 600px) {
  body {
    background-size: 200%; 
    background-position: 70% top;
  }
}
*/
body{
    background-color: #FAFFF4;
    height: 100%;
}

@media (min-width: 767px){
    body{
        background: url("images/background-green-tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px){
    body{
        background: url("images/background-green-desktop.png");
        background-size: cover;
    }
}

#list-wrapper{
    display: flex;
    gap: 20px;
}


#folders-container{
    padding: 20px;
    width: 300px;
    border: solid 3px plum;
}
.folder-div{
    border: solid 2px lightgreen;
    padding: 10px;
}
.folders-statistik{
    display: flex;
    align-items: center;
    gap: 7px;
}
.statistik-num{
    width: 30px;
    height: 30px;
    border: solid 2px gray;
}
#add-folder-btn{
    margin-top: 20px;
}

#working-folders-container{
    width: 400px;
    height: 600px;
    border: solid 2px royalblue;
}

.hide{
    display: none;
}
.show{
    display: block;
}


#rendering-folder-div{
    margin-top: 20px;
    padding: 10px;
    border: solid 2px orange;
    
}
.task-container{
    height: 250px;
    width: 250px;
    background-color: pink;
}
.task-done{
    color: orange;
}
.completed-task-ul{
    border: solid 3px red;
}
.block{
    display: block;
}