
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
  --10px: clamp(8px,2.6vw, 10px);
  --20px: clamp(18px, 5vw, 22px);
  --30px: clamp(28px, 7.6vw, 30px);
  --40px: clamp(38px, 10vw, 40px);
  --50px: clamp(48px, 13vw, 51px);
  --60px: clamp(58px, 15vw, 60px);
  --dark-grey: rgb(47, 47, 41);
  --18pxFontSize: clamp(1.125rem, 3vw, 1.25rem);
}

body{
    font-family: "Inria Serif", serif;
    background-color: #FAFFF4;
} 
a{
  text-decoration: none;
}

/*  Stil Index-Seite  */

.wrapper-desktop {
    width: clamp(580px, 54vw, 800px);
    height: fit-content;
    overflow: hidden;
    border-radius: var(--10px);
    }
.desktop-container{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: clamp(100px, 15vw, 150px);
}

.header-desktop{
    position: relative;
    background-color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 30px;
    z-index: 2;
    font-size: 2.2rem;
} 
.content-desktop {
      padding: var(--40px);
      font-size: 1.5rem;
      line-height: 1.5;
      
    } 
.content-desktop p{
  margin-bottom: var(--20px);
}
.overlay-desktop{
      position: absolute;
      inset: 0;
      pointer-events: none; /* wichtig: Maus geht durch */
      background: radial-gradient(
        circle 80px at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 40%,
       /* rgba(0,0,0,0.9) 100% */
       rgb(33, 84, 67, 1) 100%
      );
      transition: background 0.2s ease;
      
}
.wrapper-mobile{
  padding: var(--20px);
  background: url(images/background-green-tablet-three.png);
  background-size: cover;
  background-position: center bottom;
  
}

.header-mobile{
  height: clamp(150px, 30vw, 160px);
  background-color: #FAFFF4;
  padding: var(--20px);
  color: #404644;
}

.main-mobile{
  height: clamp(370px, 95vw, 390px);
  background-color: #215543;
  padding: var(--30px) var(--50px);
  border-radius: var(--10px);
  color: #FAFFF4;
}
.main-mobile h2, h3, h4{
  margin-bottom: var(--20px);
  letter-spacing: 5px;
}
.main-mobile h5{
    margin-top: var(--60px);
    font-size: clamp(2.3rem, 10vw, 2.5rem);
}

.start-btn{
  position: relative;
  display: block;
  margin: 30px auto;
  max-width: 80%;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #FBFB86, #69D7D5, #E63493);
  padding: 20px;
  color: #FAFFF4;
  font-family: "Inria Sans", sans-serif;
  font-size: 26px;
  letter-spacing: 20px;
  font-weight: 900;
  z-index: 2;
  text-shadow: 0 0 10px rgb(63, 63, 65);
  box-shadow: 0 0 10px rgb(63, 63, 65);
}

.deko-div-mobile{
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url(images/deko-mobile-two.png);
  background-size: cover;
  z-index: 1;
  top: -300px;
  opacity: 0.9;
}
.desktop-btn{
    display: none;
  }

/* Stile List-Seite */

#list-container{
  width: fit-content;
  padding: var(--10px);
  border: solid 5px red;
  background-color: #FAFFF4;
  
}
.list-wrapper{
  display: flex;
  flex-direction: column;
}
.list-header{
  text-align: center;
  letter-spacing: 0.1rem;
  padding: var(--10px);
  border: solid 3px palevioletred;
  
}
.list-header h1{
  font-size: 1.625rem;
}

.list-example-folder > h2{
  padding: var(--10px) 0 var(--20px) var(--20px);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: var(--dark-grey);
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
}


.list-example-folder-content{
  background-color: #d9d9d9;
  max-width: 80%;
  padding: var(--10px);
  margin: 0 auto;
  border: grey 1.5px dotted;
  border-radius: 5px;
  font-family: "Delius Swash Caps", cursive;
}
.list-example-folder-content p{
  margin-bottom: var(--10px);
}
.list-example-folder-content p:nth-child(4){
  margin-bottom: var(--20px);
}
.list-example-folder-content h3{
  font-size: var(--18pxFontSize);
  
}
.list-example-folder-content h4{
  margin: 0 var(--10px) var(--10px) 0;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
}
.number-style{
  background-color: rgb(234, 232, 232);
  border: solid 1px gray;
  padding: 0 0.2rem;
  border-radius: 1px;
  
}
#folders-container{
  max-width: fit-content;
  border: solid 3px orange;
  padding: var(--10px);
}

#add-folder-btn, #add-task-only-btn{
    
    margin: var(--20px) auto 0;
    display: block;
    background-color: #2a6c55;
    color: white;
    font-size: var(--18pxFontSize);
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: var(--10px) var(--30px);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}
#add-task-only-btn.task-only-btn{
  
  color: #2a6c55;
  background-color: white;
  border: solid 3px #2a6c55;
}

#list-wrapper{
    gap: 20px;
}



.folder-div{
    border: solid 2px lightgreen;
    padding: 10px;
}
.folders-statistik{
    display: flex;
    align-items: center;
    gap: 7px;
}
.statistik-num{
    width: 30px;
    height: 30px;
    border: solid 2px gray;
}


#working-folders-container{
    width: fit-content;
    height: fit-content;
    padding: var(--20px);
    border: solid 2px royalblue;
}

#rendering-folder-div{
  max-width: 80%;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px;
  letter-spacing: 0.1rem;
  color: var(--dark-grey);
}
#folders-name-label{
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: 10px;
}
#folders-name{
  max-width: 80%;
  border: solid 1px green;
  border-radius: 4px;
  font-size: 20px;
  height: fit-content;
  margin-bottom: 15px;
}
#create-folder-btn, #close-add-folder{
  margin-bottom: 15px;
  margin-right: 10px;
  letter-spacing: 0.1rem;
  color: rgb(48, 47, 47);
  font-weight: 600;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
#create-folder-btn{
  background-color: #d6ebe3;
}
#close-add-folder{
  max-width: fit-content;
}
.task-container{
    height: 250px;
    width: 250px;
    background-color: pink;
}
.task-done{
    color: orange;
}
.completed-task-ul{
    border: solid 3px red;
}
.block{
    display: block;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.close-btn-x{
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  transform: rotate(45deg);
  border-radius: 100%;
  cursor: pointer;
}


/*Media Query*/

/*Mobile */

@media only screen and (max-width: 600px) {
  .wrapper-desktop{
    display: none;
  }
 
} 

/*Tablet */

@media only screen and (min-width: 601px) {
  #list-container{
    padding: var(--20px);
  }
  .list-header h1{
    font-size: 1.75rem;
  }
  .wrapper-desktop{
    display: none;
  }
  .wrapper-mobile{
    padding: var(--50px);
    
    background-position: left bottom;
  }
  .main-mobile{
    max-width: 80%;
  }
  .header-mobile{
    max-width: 80%;
    margin-bottom: var(--30px);
    padding: var(--40px);
  }
  .start-btn{
    max-width: 80%;
    margin: var(--50px) 0;
  }
  .deko-div-mobile{
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  #folders-container{
    padding: var(--20px);
  }
}

/*Desktop*/

@media only screen and (min-width: 1024px) {
  body {
    background-color: #FAFFF4;
  }
  .wrapper-mobile{
    display: none;
  }
  .index-wrapper{
    background: url("images/background-green-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vw;
    
  }
  .wrapper-desktop, .desktop-btn{
    display: block;
    position: relative;
  }
  .desktop-btn{
    height: clamp(580px, 62vw, 650px);
    max-width: clamp(110px, 13vw, 130px);
    background: linear-gradient(to bottom,  #FBFB86, #69D7D5, #E63493);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .start-btn-desktop-text {
    display: inline-block;
    font-size: clamp(3rem, 5.8vw, 3.75rem);
    transform: rotate(90deg);
  }
}


